
<div class="row">
  <div class="col-md-3 col-sm-12"></div>
  <div class="col-md-3 col-sm-12">
      <app-counter [counter]="totalCounter"></app-counter>
  </div>
  <div class="col-md-3 col-sm-12">
      <app-counter [counter]="potentialCounter"></app-counter>
  </div>
  <div class="col-md-3 col-sm-12"></div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
            <app-counter [counter]="votedCounter"></app-counter>
    </div>
    <div class="col-md-4 col-sm-12"></div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <app-pi-chart [pieChartLabels]="potentialChartLabels" [pieChartData]="potentialChartData"></app-pi-chart>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-pi-chart [pieChartLabels]="votedChartLabels" [pieChartData]="votedChartData"></app-pi-chart>
    </div>
</div>
